<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>@ng-maps/google</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">@ng-maps/google</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>GoogleComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#styleData" role="tab" id="styleData-tab" data-toggle="tab" data-link="style">Styles</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/lib/google.component.ts</code>
</p>


    <p class="comment">
        <h3>Extends</h3>
    </p>
    <p class="comment">
            <code>NgMapsViewComponent</code>
    </p>



<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>









            <tr>
                <td class="col-md-3">providers</td>
                <td class="col-md-9">
                                <code><a href="../injectables/GoogleMapsAPIWrapper.html" target="_self" >{ provide: MapsApiWrapper, useClass: GoogleMapsAPIWrapper }</a></code>
                                <code><a href="../injectables/GoogleMapsFitBoundsService.html" target="_self" >{ provide: FitBoundsService, useClass: GoogleMapsFitBoundsService }</a></code>
                                <code><a href="../injectables/GoogleMapsMarkerManager.html" target="_self" >{ provide: MarkerManager, useClass: GoogleMapsMarkerManager }</a></code>
                                <code><a href="../injectables/GoogleCircleManager.html" target="_self" >{ provide: CircleManager, useClass: GoogleCircleManager }</a></code>
                                <code><a href="../injectables/GooglePolygonManager.html" target="_self" >{ provide: PolygonManager, useClass: GooglePolygonManager }</a></code>
                                <code><a href="../injectables/GooglePolylineManager.html" target="_self" >{ provide: PolylineManager, useClass: GooglePolylineManager }</a></code>
                                <code><a href="../injectables/GoogleRectangleManager.html" target="_self" >{ provide: RectangleManager, useClass: GoogleRectangleManager }</a></code>
                                <code><a href="../injectables/GoogleInfoWindowManager.html" target="_self" >{ provide: InfoWindowManager, useClass: GoogleInfoWindowManager }</a></code>
                </td>
            </tr>


            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>map-view</code></td>
            </tr>


            <tr>
                <td class="col-md-3">styles</td>
                <td class="col-md-9"><code>
      .map-container-inner {
        width: inherit;
        height: inherit;
      }

      .map-content {
        display: none;
      }
    </code></td>
            </tr>

            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;div class&#x3D;&quot;map-container-inner&quot; #container&gt;&lt;/div&gt;
&lt;div class&#x3D;&quot;map-content&quot;&gt;
  &lt;ng-content&gt;&lt;/ng-content&gt;
&lt;/div&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                    <span class="modifier">Protected</span>
                                <a href="#_handleBoundsChange">_handleBoundsChange</a>
                            </li>
                            <li>
                                    <span class="modifier">Protected</span>
                                <a href="#_handleIdleEvent">_handleIdleEvent</a>
                            </li>
                            <li>
                                    <span class="modifier">Protected</span>
                                    <span class="modifier">Async</span>
                                <a href="#_handleMapCenterChange">_handleMapCenterChange</a>
                            </li>
                            <li>
                                    <span class="modifier">Protected</span>
                                <a href="#_handleMapMouseEvents">_handleMapMouseEvents</a>
                            </li>
                            <li>
                                    <span class="modifier">Protected</span>
                                <a href="#_handleMapTypeIdChange">_handleMapTypeIdChange</a>
                            </li>
                            <li>
                                    <span class="modifier">Protected</span>
                                <a href="#_handleMapZoomChange">_handleMapZoomChange</a>
                            </li>
                            <li>
                                    <span class="modifier">Protected</span>
                                <a href="#_handleTilesLoadedEvent">_handleTilesLoadedEvent</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(_mapsWrapper: MapsApiWrapper, _fitBoundsService: FitBoundsService, _zone: <a href="https://angular.io/api/core/NgZone" target="_blank">NgZone</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="54" class="link-to-prism">src/lib/google.component.ts:54</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>_mapsWrapper</td>
                                                  
                                                        <td>
                                                                    <code>MapsApiWrapper</code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>_fitBoundsService</td>
                                                  
                                                        <td>
                                                                    <code>FitBoundsService</code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>_zone</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://angular.io/api/core/NgZone" target="_blank" >NgZone</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>





    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="_handleBoundsChange"></a>
                    <span class="name">
                        <b>
                            <span class="modifier">Protected</span>
                            _handleBoundsChange
                        </b>
                        <a href="#_handleBoundsChange"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>_handleBoundsChange()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="79"
                            class="link-to-prism">src/lib/google.component.ts:79</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="_handleIdleEvent"></a>
                    <span class="name">
                        <b>
                            <span class="modifier">Protected</span>
                            _handleIdleEvent
                        </b>
                        <a href="#_handleIdleEvent"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>_handleIdleEvent()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="115"
                            class="link-to-prism">src/lib/google.component.ts:115</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="_handleMapCenterChange"></a>
                    <span class="name">
                        <b>
                            <span class="modifier">Protected</span>
                            <span class="modifier">Async</span>
                            _handleMapCenterChange
                        </b>
                        <a href="#_handleMapCenterChange"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>_handleMapCenterChange()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="63"
                            class="link-to-prism">src/lib/google.component.ts:63</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="_handleMapMouseEvents"></a>
                    <span class="name">
                        <b>
                            <span class="modifier">Protected</span>
                            _handleMapMouseEvents
                        </b>
                        <a href="#_handleMapMouseEvents"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>_handleMapMouseEvents()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="129"
                            class="link-to-prism">src/lib/google.component.ts:129</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="_handleMapTypeIdChange"></a>
                    <span class="name">
                        <b>
                            <span class="modifier">Protected</span>
                            _handleMapTypeIdChange
                        </b>
                        <a href="#_handleMapTypeIdChange"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>_handleMapTypeIdChange()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="90"
                            class="link-to-prism">src/lib/google.component.ts:90</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="_handleMapZoomChange"></a>
                    <span class="name">
                        <b>
                            <span class="modifier">Protected</span>
                            _handleMapZoomChange
                        </b>
                        <a href="#_handleMapZoomChange"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>_handleMapZoomChange()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="103"
                            class="link-to-prism">src/lib/google.component.ts:103</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="_handleTilesLoadedEvent"></a>
                    <span class="name">
                        <b>
                            <span class="modifier">Protected</span>
                            _handleTilesLoadedEvent
                        </b>
                        <a href="#_handleTilesLoadedEvent"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>_handleTilesLoadedEvent()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="122"
                            class="link-to-prism">src/lib/google.component.ts:122</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, NgZone } from &#x27;@angular/core&#x27;;
import {
  CircleManager,
  FitBoundsService,
  GeoPoint,
  InfoWindowManager,
  MapsApiWrapper,
  MarkerManager,
  NgMapsViewComponent,
  PolygonManager,
  PolylineManager,
  RectangleManager,
} from &#x27;@ng-maps/core&#x27;;
import { GoogleMapsAPIWrapper } from &#x27;./google-maps-api-wrapper&#x27;;
import { GoogleMapsFitBoundsService } from &#x27;./google-maps-fit-bounds.service&#x27;;
import { GoogleCircleManager } from &#x27;./managers/circle.manager&#x27;;
import { GoogleInfoWindowManager } from &#x27;./managers/info-window.manager&#x27;;
import { GoogleMapsMarkerManager } from &#x27;./managers/marker.manager&#x27;;
import { GooglePolygonManager } from &#x27;./managers/polygon.manager&#x27;;
import { GooglePolylineManager } from &#x27;./managers/polyline.manager&#x27;;
import { GoogleRectangleManager } from &#x27;./managers/rectangle.manager&#x27;;

@Component({
  selector: &#x27;map-view&#x27;,
  providers: [
    { provide: MapsApiWrapper, useClass: GoogleMapsAPIWrapper },
    { provide: FitBoundsService, useClass: GoogleMapsFitBoundsService },
    { provide: MarkerManager, useClass: GoogleMapsMarkerManager },
    { provide: CircleManager, useClass: GoogleCircleManager },
    { provide: PolygonManager, useClass: GooglePolygonManager },
    { provide: PolylineManager, useClass: GooglePolylineManager },
    { provide: RectangleManager, useClass: GoogleRectangleManager },
    { provide: InfoWindowManager, useClass: GoogleInfoWindowManager },
  ],
  styles: [
    &#x60;
      .map-container-inner {
        width: inherit;
        height: inherit;
      }

      .map-content {
        display: none;
      }
    &#x60;,
  ],
  template: &#x60;
    &lt;div class&#x3D;&quot;map-container-inner&quot; #container&gt;&lt;/div&gt;
    &lt;div class&#x3D;&quot;map-content&quot;&gt;
      &lt;ng-content&gt;&lt;/ng-content&gt;
    &lt;/div&gt;
  &#x60;,
})
export class GoogleComponent extends NgMapsViewComponent&lt;google.maps.Map&gt; {
  constructor(
    _mapsWrapper: MapsApiWrapper,
    _fitBoundsService: FitBoundsService,
    _zone: NgZone,
  ) {
    super(_mapsWrapper, _fitBoundsService, _zone);
  }

  protected async _handleMapCenterChange() {
    const s &#x3D; this._mapsWrapper
      .subscribeToMapEvent(&#x27;center_changed&#x27;)
      .subscribe(() &#x3D;&gt; {
        this._mapsWrapper.getCenter().then((center: GeoPoint) &#x3D;&gt; {
          this.latitude &#x3D; center.lat;
          this.longitude &#x3D; center.lng;
          this.centerChange.emit({
            lat: this.latitude,
            lng: this.longitude,
          } as google.maps.LatLngLiteral);
        });
      });
    this.subscription.add(s);
  }

  protected _handleBoundsChange() {
    const s &#x3D; this._mapsWrapper
      .subscribeToMapEvent(&#x27;bounds_changed&#x27;)
      .subscribe(() &#x3D;&gt; {
        this._mapsWrapper.getBounds().then((bounds) &#x3D;&gt; {
          this.boundsChange.emit(bounds);
        });
      });
    this.subscription.add(s);
  }

  protected _handleMapTypeIdChange() {
    const s &#x3D; this._mapsWrapper
      .subscribeToMapEvent(&#x27;maptypeid_changed&#x27;)
      .subscribe(() &#x3D;&gt; {
        this._mapsWrapper
          .getMapTypeId()
          .then((mapTypeId: google.maps.MapTypeId) &#x3D;&gt; {
            this.mapTypeIdChange.emit(mapTypeId);
          });
      });
    this.subscription.add(s);
  }

  protected _handleMapZoomChange() {
    const s &#x3D; this._mapsWrapper
      .subscribeToMapEvent(&#x27;zoom_changed&#x27;)
      .subscribe(() &#x3D;&gt; {
        this._mapsWrapper.getZoom().then((z: number) &#x3D;&gt; {
          this.zoom &#x3D; z;
          this.zoomChange.emit(z);
        });
      });
    this.subscription.add(s);
  }

  protected _handleIdleEvent() {
    const s &#x3D; this._mapsWrapper.subscribeToMapEvent(&#x27;idle&#x27;).subscribe(() &#x3D;&gt; {
      this.idle.emit(void 0);
    });
    this.subscription.add(s);
  }

  protected _handleTilesLoadedEvent() {
    const s &#x3D; this._mapsWrapper
      .subscribeToMapEvent(&#x27;tilesloaded&#x27;)
      .subscribe(() &#x3D;&gt; this.tilesLoaded.emit(void 0));
    this.subscription.add(s);
  }

  protected _handleMapMouseEvents() {
    interface Emitter {
      emit(value: any): void;
    }

    interface Event {
      name: keyof google.maps.MapHandlerMap&lt;google.maps.Map&gt;;
      emitter: Emitter;
    }

    const events: Array&lt;Event&gt; &#x3D; [
      { name: &#x27;click&#x27;, emitter: this.mapClick },
      { name: &#x27;rightclick&#x27;, emitter: this.mapRightClick },
      { name: &#x27;dblclick&#x27;, emitter: this.mapDblClick },
    ];

    events.forEach((e: Event) &#x3D;&gt; {
      const s &#x3D; (this._mapsWrapper as GoogleMapsAPIWrapper)
        .subscribeToMapEvent(e.name)
        .subscribe((event) &#x3D;&gt; {
          const value &#x3D; {
            coords: { lat: event[0].latLng.lat(), lng: event[0].latLng.lng() },
          };
          e.emitter.emit(value);
        });
      this.subscription.add(s);
    });
  }
}
</code></pre>
    </div>


    <div class="tab-pane fade " id="c-styleData">
            <pre class="line-numbers"><code class="language-scss">
      .map-container-inner {
        width: inherit;
        height: inherit;
      }

      .map-content {
        display: none;
      }
    
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><div class="map-container-inner" #container></div><div class="map-content">  <ng-content></ng-content></div></div>'
    var COMPONENTS = [{'name': 'GoogleComponent', 'selector': 'map-view'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'GoogleComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'GoogleComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
